packaging_format = 2

id = "searxng"
name = "SearXNG"
description.en = "Internet metasearch engine which aggregates results from more than 70 search services"
description.fr = "Méta-moteur de recherche qui rassemble les résultats de plus de 70 services de recherche"

version = "2026.01.02~ynh1"

maintainers = ["ewilly"]

[upstream]
license = "AGPL-3.0-or-later"
website = "https://docs.searxng.org"
demo = "https://searx.be"
admindoc = "https://docs.searxng.org/admin/"
userdoc = "https://docs.searxng.org/user/"
code = "https://github.com/searxng/searxng"

[integration]
yunohost = ">= 11.2.30"
helpers_version = "2.1"
architectures = "all"
multi_instance = false
ldap = "not_relevant"
sso = "not_relevant"
disk = "210M"
ram.build = "250M"
ram.runtime = "200M"

[install]
	[install.domain]
	type = "domain"

	[install.path]
	type = "path"
	default = "/searxng"

	[install.init_main_permission]
	type = "group"
	default = "visitors"

[resources]
	[resources.sources]

		[resources.sources.main]
		url = "https://github.com/searxng/searxng/archive/3d88876a32addc8a1d1be8cf8afe8f9136a1571d.tar.gz"
		sha256 = "a0d71a5c22079543a59f9a6a517b8ebc26ddbf8d937ccd760eb0c635478d36fb"
		autoupdate.strategy = "latest_github_commit"

	[resources.system_user]

	[resources.install_dir]
	dir = "/var/www/__APP__"

	[resources.permissions]
	main.url = "/"

	[resources.apt]
	packages = "python3-dev, python3-babel, python3-venv, git, build-essential, libxslt-dev, zlib1g-dev, libffi-dev, libssl-dev"
