packaging_format = 2

id = "searxng"
name = "SearXNG"
description.en = "A free internet metasearch engine which aggregates results from more than 70 search services. Users are neither tracked nor profiled"
description.fr = "Un méta-moteur de recherche qui rassemble les résultats de plus de 70 services de recherche. Les utilisateurs ne sont ni suivis ni espionnés"

version = "2024.02.09.07.08.03~ynh1"

maintainers = ["mh4ckt3mh4ckt1c4s"]

[upstream]
license = "AGPL-3.0-or-later"
website = "https://docs.searxng.org"
demo = "https://searx.be"
admindoc = "https://docs.searxng.org/admin/"
userdoc = "https://docs.searxng.org/user/"
code = "https://github.com/searxng/searxng"

[integration]
yunohost = ">= 11.1.0"
architectures = "all"
multi_instance = false
ldap = "not_relevant"
sso = "not_relevant"
disk = "210M"
ram.build = "250M"
ram.runtime = "200M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/searxng"
    
    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]
    [resources.system_user]

    [resources.install_dir]
    dir = "/var/www/__APP__"
    
    [resources.permissions]
    main.url = "/"
    
    [resources.apt]
    packages = "git, build-essential, libxslt-dev, python3-dev, python3-venv, python3-cffi, python3-babel, zlib1g-dev, libffi-dev, libssl-dev, python3-lxml, uwsgi, uwsgi-plugin-python3, shellcheck"
