#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/tests.v1.schema.json

test_format = 1.0

[default]

	# ------------
	# Tests to run
	# ------------

	# -------------------------------
	# Default args to use for install
	# -------------------------------

	# -------------------------------
	# Commits to test upgrade from
	# -------------------------------

	# test_upgrade_from.027e5b155ef3b893341ce992c9ead73d3aaad1e5.name = "Upgrade from 2025.09.27~ynh1 (git clone)"
	test_upgrade_from.713e86b06469aa3e700d7dc754c0eebb85d6efc3.name = "Upgrade from 2025.12.19~ynh1 (uWSGI)"
