[Unit]
Description=__APP__ uWSGI app
After=syslog.target
[Service]
RuntimeDirectory=__FINALPATH__
ExecStart=/usr/bin/uwsgi \
        --ini /etc/uwsgi/apps-available/searxng.ini \
        --socket /var/run/searxng/app.socket \
        --logto /var/log/uwsgi/searxng/searxng.log
User=__APP__
Group=www-data
Restart=on-failure
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all
[Install]
WantedBy=multi-user.target
